
.light:hover{
    box-shadow: rgb(132, 158, 177);
}

#aboutContainer div.hovers:hover *{
    padding-left: 0;
    width: 100%;
    color: white;
}


.hovers:hover{
    font-size: 2.5rem;
    color: white;
    opacity: 100%;
}

.light.hovers:hover{
    color: black;
}

.a11yButton:hover{
    color:#FFED5F;
}

.a11y:hover{
    color:#ffed5f;
}

.a11yButton.light:hover{
    color:#693106;
}

.a11y.light:hover{
    color:#693106;
}

@media (max-width: 700px){
    #aboutContainer div.hovers:hover p{
        padding-left: 2vw;
        width: 100%;
        color:#FFED5F;
    }

    #aboutContainer div.hovers:hover p{
        padding-left: 2vw;
        width: 100%;
        color:#FFED5F;
    }

    #aboutContainer div.hovers:hover p.light{
        color:black;
    }
}

@media (max-width: 500px){
    header a.hovers:hover{
        font-size: 1.8rem;
    }
       
    .contact a.hovers:hover{
        font-size: 1.8rem;
    }
}  
