*/
/* Eric Meyer's reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:focus{
    outline: 0;
}

*{
    box-sizing:border-box;
    padding:0;
    margin: 0;
    max-width: 100%; 
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    color: white;
    font-family: 'Sora', sans-serif;
    background: black;
}

.a11yFont{
    font-family: 'Arial', sans-serif;
}

body.light{
    color: black;
    background: white;
}

h1, h2, h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:white;
    text-align:center;
    letter-spacing: 0.1rem;
}

h1.light, h2.light, h3.light{
    color:black;
}

h1{
    font-size: 5rem;
}

h2{
    margin: 3vw 0;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.4rem;
}

#splash{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 34vw;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../images/moons.jpg');
    background-size: cover;
    background-position: center;
    margin: 0 0 4vw 0;
    padding: 4vw;
}

#splash.light{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(255, 255, 255)), url('../images/daytime-moon.jpg');
}

section{
    margin: 0 5vw 5vw 5vw;
}

nav{
    padding:none;
    margin:none;
    width: 90vw;
    height: 10rem;
    display: flex;
    justify-content: space-between;
}

nav a{
    padding:none;
    margin:none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 19vw;
}

a{
    text-decoration: none;
    color:white;
    font-size: 3rem;
    transition: 0.5s;
}

a.light{
    color:black;
}

a:active{
    color: orange;
}

#about{
    margin-top: 20px;
    height: 400px;
    display:flex;
    justify-content: left;
    padding: 2vw;
}

.accessibility{
    position:fixed;
    top: 1vw;
    right: 1vw;
}

#aboutContainer{
    display: flex;
    justify-content: left;
    width: 70%;
    padding-left: 5%;  
}

#aboutContainer h3{
    text-align: left;
    line-height: 5;
}

#aboutContainer div{
    padding-left: 20%;
    width: 100%;
    transition:0.5s;
}

#aboutContainer div p{
    color: black;
    transition:0.5s;
}

#aboutContainer div p.light{
    color: white;
}

#adaptive h3{
    line-height: 5;
}

.card{
    margin-top: 2vw;
    height: 24vw;
    width: 22vw;
}

.card img{
    box-shadow: 0 10px 3px rgb(20, 17, 15);
    border-radius: 1%;
    margin-bottom: 10px;
    opacity: 80%;
    transition: 0.2s;
    width: 22vw;
    height: 22vw;
}

.card.light img{
    box-shadow: 0 10px 3px rgb(104, 130, 148);
    opacity: 100%;
}

.card h3{
    color:#FFED5F;
    letter-spacing: 0.2rem;
    transition: 0.25s;
}

.card.light h3{
    color: rgb(255, 145, 0);
}

#contactModal{
    display: flex;
    width: 21vw;
    height: 21vw;
    justify-content: space-between;
    margin-top: 10%;
}

#contactPortrait{
    font-size: 1.5rem;
}

#contactPortrait span{
    font-size: 1.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div a{
    padding: 2vw 0 0 0;
}

footer h3{
    margin-bottom: 2vw;
} 

.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .card{
    width: 23%;
}

.portfolio .card img{
    height: 19vw;
}

#profile{
    height: 17vw;
    width: 17vw;
    border-radius: 50%;
}


#ring {
    border-radius: 50%;
    box-shadow: 0px -15px 1vw #443e30;
    padding:none;
    width: 20vw;
    height: 20vw;
}

.half {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
}

.half span{
    font-size: 2rem;
}

#ring.light{
    box-shadow: none;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgb(255, 255, 255)), url('../images/daytime-moon.jpg');
    background-size: cover;
    background-position: bottom;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}



.hidden{
    display: none !important;
}

.icon{
    text-align: center;
    font-size: 5rem;
}


.a11yModal{
    background-color: rgba(0,0,0,0.9);
    border: 3px dotted #AAAAAA;
    width: 11rem;
    height: 40rem;
    text-align: center;
}

.a11yModal.light{
    background-color:rgba(250, 250, 255, 0.9); 
    border: 3px dotted #222222;
}

.icon{
    display: flex;
    color: white;
}

.icon span{
    font-size: 1rem;
}

.icon.light{
    color: black;
}

@media (max-width: 1032px){
    #splash{
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1)), url('../images/moons.jpg');
        background-position: center;
    }

    #about{
        height: 40vw;
    }

    #aboutContainer h3{
        text-align: left;
        line-height: 4;
    }

    #aboutLinks span, .half span{
        font-size: 1.7rem;
    }

    #portfolio h2{
        margin: 60px 0 0 0;
    }
    
    .portfolio .card{
        width: 25vw;
        height: 35vw;
    }
    
    .portfolio .card img{
        height: 25vw;
    }

    .half {
        display: flex;
        justify-content: center;
        width: 7vw;
    }
    
    footer h3{
        margin-bottom: 3vw;
    } 
}

@media (max-width: 700px){

    #about{
        margin-top: 5vw;
        height: 50vw;
    }

    #about-container h3{
        text-align: left;
        line-height: 3;
        width: 70%;
        padding-left: 0vw;  
    }

    #about-container div p.light{
        color:rgb(0, 0, 0);
    }

    #aboutLinks span, .half span{
        font-size: 1.5rem;
    }


    #portfolio h2{
        padding: 6vw 0vw 0vw 3vw;
        margin: 60px 0 0 10%;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        box-shadow: -10px -15px 1vw #443e30;
    }

    #portfolio h2.light{
        box-shadow: none;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgb(255, 255, 255)), url('../images/daytime-moon.jpg');
        background-size: cover;
        background-position: bottom;
    }

    .portfolio .card{
        width: 27 vw;
        height: 33 vw;
    }

    .profile .card span{
        font-size: 1rem;
    }
    .portfolio .card img{
        width: 27vw;
        height: 27vw;
    }

    #contactModal {
        display: flex;
        flex-flow: row ;
        align-items: flex-start;
        width: 60vw;
        padding: 0 20vw;
    }

    #ring {
        display: flex;
        flex-flow: row ;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        height: 60vw;
        width: 60vw;
    }
}
  
@media (max-width: 500px){
    a{
        font-size: 1.5rem;
        padding: 0px;
    }
  
    #about{
        margin-bottom: 50px;
    }
    
    #about-container{
        text-align: center;
        line-height: 4; 
        padding-left: 0;
        width: 100%;
        color: white;
    }
    
    #about-container div{
        width: 100%;
        padding-top: 2vw;
        padding-left: 0; 
    }
    
    #about-container div p{
        color:#FFED5F;
        font-size: 1.5rem;
    }
    
    #about-container h3{
        display: none; 
    } 

    h3{
        font-size:smaller;
    }

    header{
        padding-top: 10px
    }

    .portfolio{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .portfolio .card{
        width: 80vw;
        height: 100vw;
    }
    
    .portfolio .card img{
        height: 80vw;
        width: 80vw;
    }

    #ring {
        height: 80vw;
        width: 80vw;
    }
}

#splash.hiContrast, 
#splash.light.hiContrast,  
#portfolio h2.light.hiContrast,  
#portfolio h2.hiContrast,
#ring.hiContrast,
#ring.light.hiContrast{
  background-image: none;
  box-shadow: none;    
}