*/
/* Eric Meyer's reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

:focus {
    outline: 0;
}

*{
        box-sizing:border-box;
        padding:0;
        margin: 0;
        max-width: 100%;
       /* border: 1px solid gray;*/
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    color: white;
    font-family: 'Sora', sans-serif;
    background: black;
}


h1, h2, h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:white;
    text-align:center;
    letter-spacing: 0.1rem;
}

h1 {
    font-size: 5rem;
}
h3 {
    font-size: 2rem;
}
#home {
    display: flex;
    flex-direction: column;
    height: 44vw;
    text-align: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../images/moons.jpg');
    background-size: cover;
    background-position: bottom;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    padding: 4vw;
}

span {
    color: rgb(255, 0, 21);
}

a {
    text-decoration: none;
    color:white;
    font-size: 2rem;
    transition: 0.5s;
}

a:first-child {
    font-family:'Roboto Slab', serif;
    font-size: 2.5rem;
    color: rgb(255, 0, 21);
}

header a:hover {
    font-size: 4rem;
}

#about {
    height: 35vw;
    display:flex;
    justify-content: left;
    padding-left: 5vw;
}

.card img{
    box-shadow:  4px 4px 4px rgb(14, 13, 12);
    border-radius: 1%;
    opacity: 80%;
    transition: 0.2s;
}

.card img:hover {
    opacity: 100%;

}

.card  h3 {
    color:#FFED5F;
    letter-spacing: 0.2rem;
    transition: 0.25s;
}

.card:hover  h3 {
    color:white;
    letter-spacing: 0.1rem;
    font-size: 3rem;
}

#about-container {
    width: 70%;
    padding-left: 5vw;  
}

#about-container h3{
    text-align: left;
    line-height: 5;
}

#about-container div{
    padding-left: 10vw;
    width: 100%;
    transition:0.5s;
}

#about-container div p{
    color: black;
    width: 100%;
    transition:0.5s;
}

#adaptive h3{
    line-height: 5;
}

#about-container div:hover * {
    padding-left: 0;
    width: 100%;
    color: white;
}

#about-container div p:hover {
    color:#FFED5F;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .card {
    width: 30%;
}

.portfolio .card img{
    height: 25vw;
}

footer {
    margin: 15vw 0;
}

footer a{
    padding: 5vw;
}
#portfolio h2{
    margin: 5vw;
}

@media (max-width: 1032px){
    #home {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1)), url('../images/moons.jpg');
        background-position: center;
    }
    #about {
        height: 40vw;
    }
    #about-container h3{
        text-align: left;
        line-height: 4;
    }
    .card{
        width: 45vw;
    }

}

@media (max-width: 700px){


    #about {
        margin-top: 5vw;
        height: 50vw;
    }

    #about-container h3{
        text-align: left;
        line-height: 3;
    }
    #portfolio h2{
        padding-top: 6vw;
        width:20vw;
        height: 20vw;
        border-radius: 50%;
        box-shadow: -10px -15px 1vw #443e30;
    }
    #about-container {
        width: 70%;
        padding-left: 0vw;  
    }
    #about-container div{
        margin-left: 2vw; 
        padding-left: 2vw;  
    }
    span {
        display: none;
    }

    #about-container div:hover p {
        padding-left: 2vw;
        width: 100%;
        color:#FFED5F;
    }

    .portfolio img{
        height: 38vw;
        width: 45vw;
    }

    .portfolio .card{
        height: 45vw;
        width: 45vw;
    }
}

@media (max-width: 500px){

    header a{
        font-size: 1.5rem;
        padding: 0px;
    }
    
   #about {
       margin-bottom: 20vw;
   }
   
   header a:hover{
    
    font-size: 1.8rem;
}

    #about-container *{
        width: 70%;
        padding-left: 0vw; 
        line-height: 1; 
    }
    #about-container div{
        margin-left: 2vw; 
        padding-left: 1vw;  
    }
    span {
        display: none;
    }
    .portfolio{
        padding: 0vw;
        margin: 0vw;
        height:700vw;
    }

    .portfolio .card{
 
        height: 70vw;
        width: 100%;
    }
    #portfolio img {
        height: 100%;
        width: 100%;
    }
}


@media (max-width: 300px){

}


