*/
/* Eric Meyer's reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

:focus {
    outline: 0;
}

*{
        box-sizing:border-box;
        padding:0;
        margin: 0;
        max-width: 100%;
    
}

html{
    font-size:62.5%;
}

body{
    font-size:1.6rem;
    color: white;
    font-family: 'Sora', sans-serif;
    background: black;
}

body.light{
    color: black;
    background: white;
}


h1, h2, h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color:white;
    text-align:center;
    letter-spacing: 0.1rem;
}

h1.light, h2.light, h3.light{
    color:black;
}

h1 {
    font-size: 5rem;
}
h3 {
    font-size: 2rem;
}
#home {
    display: flex;
    flex-direction: column;
    height: 44vw;
    text-align: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1)), url('../images/moons.jpg');
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
}

#home.light {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgb(255, 255, 255)), url('../images/daytime-moon.jpg');
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    padding: 4vw;
}

span {
    color: rgb(255, 0, 21);
   
}


span.light {
    color: rgb(255, 145, 0);
}

a {
    text-decoration: none;
    color:white;
    font-size: 2rem;
    transition: 0.5s;
}
a.light {
    color:black;
}

a:first-child {
    font-family:'Roboto Slab', serif;
    font-size: 2.5rem;
    color: rgb(255, 0, 21);
}

a.light:first-child {
    color: rgb(136, 77, 0);
}

header a:hover {
    font-size: 4rem;
}

#about {
    height: 400px;
    display:flex;
    justify-content: left;
    padding-left: 2%;
}

.card {
    margin-top: 2vw;
}

.card img{
    box-shadow:  0vw 1vw 1vw rgb(24, 21, 19);
    border-radius: 1%;
    opacity: 80%;
    transition: 0.2s;
    max-width: 100%;
    height: auto;
}

.card.light img{
    box-shadow:  0vw 1vw 1vw rgb(104, 130, 148);
}

.card img:hover {
    opacity: 100%;
}


.card h3 {
    color:#FFED5F;
    letter-spacing: 0.2rem;
    transition: 0.25s;
}

.card.light h3 {
    color: rgb(255, 145, 0);
}

.card:hover  h3 {
    color:white;
    letter-spacing: 0.1rem;
    font-size: 3rem;
}

.card.light:hover  h3 {
    color:rgb(0, 0, 0);
}

#about-container {
    display: flex;
    justify-content: left;
    width: 70%;
    padding-left: 5%;  
}

#about-container h3{
    text-align: left;
    line-height: 5;
}

#about-container div{
    padding-left: 20%;
    width: 100%;
    transition:0.5s;
}

#about-container div p{
    color: black;
    transition:0.5s;
}
#about-container div p.light{
    color: white;
}

#adaptive h3{
    line-height: 5;
}

#about-container div:hover * {
    padding-left: 0;
    width: 100%;
    color: white;
}


#about-container div:hover *.light {
    color: black;
}

#about-container div p:hover {
    color:#FFED5F;
}

#about-container div p.light:hover {
    color:rgb(255, 145, 0);
}

#portfolio h2{
    margin: 100px 0 5vw 0;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .card {
    width: 23%;
}

.portfolio .card img{
    height: 19vw;
}

footer {
    max-width: 100vw;
    margin: 15vw 0vw;
}

footer a{
    padding: 5vw 0vw;
}

#contact h3{
    margin-top: 3%;
    transition: 300ms;
}

#contact h3:hover{
    font-size: 3rem;
    color: #FFED5F;
}

#contact h3.light:hover{
    color:rgb(255, 145, 0);
}

.contactContainer{
    display: flex;
    margin-left: 40%;
    justify-content: space-between;
    width: 20%;
    height: 20vw;
    margin-top: 10%;
    border-radius: 50%;
    box-shadow: 0px -15px 1vw #443e30;
}

.contact a:hover {
    font-size: 6rem;
}

.contactContainer.light{
    box-shadow: none;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgb(255, 255, 255)), url('../images/daytime-moon.jpg');
    background-size: cover;
    background-position: bottom;
}





.a11y .fas {
    text-align: center;
    font-size: 5rem;
}
.accessibility {
    position:fixed;
    top: 1vw;
    right: 1vw;
}

.hidden {
    display: none;
}

.a11yModal {
    background-color: #222222;
    border: 3px dotted #AAAAAA;
    width: 10rem;
    height: 45rem;
    text-align: center;
}

.a11yModal.light {
    background-color:rgba(250, 250, 255, 0.9); 
    border: 3px dotted #222222;
}

.icon{
    display: flex;
    color: white;
    padding-top: 20px;
}

.icon p{
    font-size: 1rem;
}
.a11y .fas {
    margin-left: 20px;
}

#lightSwitch{
    margin-left: 12px;
}
.icon.light {
    color: black;
}

.noColor {
    background-color: white;
    color: black;
    box-shadow: none;
}

.easyRead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.modal {
    background-color: none;
}

@media (max-width: 1032px){
    #home {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1)), url('../images/moons.jpg');
        background-position: center;
    }

    #about {
        height: 40vw;
    }
    #about-container h3{
        text-align: left;
        line-height: 4;
    }

    #portfolio h2{
        margin: 60px 0 0 0;
    }
    
    .portfolio .card {
        width: 32%;
    }
    
    .portfolio .card img{
        height: 25vw;
    }
   
}

@media (max-width: 700px){
    span {
        display: none;
    }
     
    #about {
        margin-top: 5vw;
        height: 50vw;
    }

    #about-container h3 {
        text-align: left;
        line-height: 3;
        width: 70%;
        padding-left: 0vw;  
    }

    #about-container div:hover p {
        padding-left: 2vw;
        width: 100%;
        color:#FFED5F;
    }
    #about-container div p.light {
        color:rgb(0, 0, 0);
    }

    #about-container div:hover p.light {
        color:rgb(255, 145, 0);
    }


    #portfolio h2 {
        padding: 6vw 0vw 0vw 3vw;
        margin: 60px 0 0 10%;
        width:20%;
        height: 20vw;
        border-radius: 50%;
        box-shadow: -10px -15px 1vw #443e30;
    }
    #portfolio h2.light {
        box-shadow: none;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgb(255, 255, 255)), url('../images/daytime-moon.jpg');
        background-size: cover;
        background-position: bottom;
    }

    .portfolio .card {
        width: 45%;
    }
    
    .portfolio .card img {
        height: 35vw;
    }
}
  

@media (max-width: 500px){
    header{
        padding-top: 10px
    }
    header a{
        font-size: 1.5rem;
        padding: 0px;
    }
    
  
    header a:hover {
    font-size: 1.8rem;
    }
   
    #about {
        margin-bottom: 50px;
     }
    
    #about-container h3{
       display: none; 
    }

    #about-container {
        text-align: center;
        line-height: 4; 
        padding-left: 0;
        width: 100%;
        color: white;
    }

    #about-container div{
        width: 100%;
        padding-top: 2vw;
        padding-left: 0; 
    }
    
    #about-container div p{
        color:#FFED5F;
        font-size: 1.5rem;
    }
    


    .portfolio {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .portfolio .card {
        width: 95%;
    }
    
    .portfolio .card img{
        height: 95%;
    }


    .contactContainer{
        display: flex;
        margin-left: 40%;
        justify-content: space-between;
        width: 20%;
        height: 20vw;
        margin-top: 10%;
        border-radius: 50%;
        box-shadow: 0px -15px 1vw #443e30;
    }
    
    .contact a:hover {
        font-size: 6rem;
    }
    
}


@media (max-width: 350px){

}


